<div class="hidden sm:flex fixed top-0 left-0 z-0">
    <x class="absolute top-0 left-0 h-screen w-0 p-px bg-black block transform -translate-x-0.5"></x>
    <y class="absolute top-0 left-0 w-screen h-0 p-px bg-black block transform -translate-y-0.5"></y>
</div>