<aside class="flex flex-col fixed left-0 bottom-0 items-center bg-white text-gray-700 shadow w-full md:w-auto md:sticky md:top-0 md:max-w-min">
    <ul class="flex flex-row w-full md:flex-col">
        <li class="hover:bg-gray-100 flex-grow flex-1 flex-shrink-0">
            <a 
                href="."
                class="h-16 px-6 flex flex justify-center items-center w-full
                focus:text-orange-500">
                <svg 
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 576 512"><path fill="<%= root == 'accueil' ? '#f39c12' : 'currentColor' %>" d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"></path></svg>
            </a>
        </li>

        <li class="hover:bg-gray-100 flex-grow flex-1 flex-shrink-0">
            <a
                href="/projets"
                class="h-16 px-6 flex flex justify-center items-center w-full
                focus:text-orange-500">
                <svg
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="<%= root == 'projets' ? '#f39c12' : 'currentColor' %>"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <polyline
                        points="22 12 16 12 14 15 10 15 8 12 2 12"></polyline>
                    <path
                        d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0
                        2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0
                        0-1.79 1.11z"></path>
                </svg>

            </a>
        </li>

        <li class="hover:bg-gray-100 flex-grow flex-1 flex-shrink-0">
            <a
                href="/parcours"
                class="h-16 px-6 flex flex justify-center items-center w-full
                focus:text-orange-500">
                <svg
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="<%= root == 'parcours' ? '#f39c12' : 'currentColor' %>"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                        d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                </svg>

            </a>
        </li>

        <li class="hover:bg-gray-100 flex-grow flex-1 flex-shrink-0">
            <a
                href="/connexion"
                class="h-16 px-6 flex flex justify-center items-center w-full
                focus:text-orange-500">
                <svg 
                    class="h-5 w-5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    viewBox="0 0 496 512">
                    <path fill="<%= root == 'connexion' || root == 'inscription' ? '#f39c12' : 'currentColor' %>" 
                        d="M248 104c-53 0-96 43-96 96s43 96 
                        96 96 96-43 96-96-43-96-96-96zm0 
                        144c-26.5 0-48-21.5-48-48s21.5-48 
                        48-48 48 21.5 48 48-21.5 48-48 
                        48zm0-240C111 8 0 119 0 256s111 248
                        248 248 248-111 248-248S385 8 248 
                        8zm0 448c-49.7 0-95.1-18.3-130.1-48.4 
                        14.9-23 40.4-38.6 69.6-39.5 20.8 6.4 40.6 
                        9.6 60.5 9.6s39.7-3.1 60.5-9.6c29.2 1 54.7 
                        16.5 69.6 39.5-35 30.1-80.4 48.4-130.1 
                        48.4zm162.7-84.1c-24.4-31.4-62.1-51.9-105.1-51.9-10.2 
                        0-26 9.6-57.6 9.6-31.5 0-47.4-9.6-57.6-9.6-42.9 0-80.6 
                        20.5-105.1 51.9C61.9 339.2 48 299.2 48 256c0-110.3 89.7-200 
                        200-200s200 89.7 200 200c0 43.2-13.9 83.2-37.3 115.9z">
                    </path>
                </svg>
            </a>
        </li>
    </ul>

    <% if(user) { %>
        <div class="mt-auto h-16 flex items-center w-full">
            <!-- Action Section -->
            <button
                class="h-16 w-10 mx-auto flex flex justify-center items-center
                w-full focus:text-orange-500 hover:bg-red-200 focus:outline-none">
                <svg
                    class="h-5 w-5 text-red-700"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
            </button>
        </div>
    <% } %>
</aside>