<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ('includes/head') -%>
    <title><Hugo /></title>
</head>
<style>
    .about_category::before {
        content: "";
        position: absolute;
        width: 20%;
        height: 2px;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #064E3B;
        border-radius: 2px;
    }
    .about_category {
        text-shadow: 0 0 10px #fff
    }
    h2, h3, h4, p {
        cursor: default;
    }
</style>
<body class="leading-normal flex flex-row overflow-x-hidden tracking-normal text-gray-900 bg-yellow-50 font-sans" style="font-family: 'Source Sans Pro', sans-serif;">
    <%- include ('includes/header') -%>
    <%- include ('includes/cursor') -%>
    <main class="h-full w-full pb-14 bg-right z-20">
        <div class="m-5 md:m-10">
            <h2 class="relative about_category mx-auto p-2 my-2 w-min text-green-600 font-extrabold text-xl">Langages</h2>
            <div class="flex flex-row flex-wrap justify-center text-center py-2">
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">HTML</h3>
                    <img class="h-10 m-auto" src="/img/html.webp" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">CSS</h3>
                    <img class="h-10 m-auto" src="/img/css.webp" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Javascript</h3>
                    <img class="h-10 m-auto" src="/img/js.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">PHP</h3>
                    <img class="h-10 m-auto" src="/img/php.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Python</h3>
                    <img class="h-10 m-auto" src="/img/python.png" alt="">
                </div>
            </div>
        </div>
        <div class="m-5 md:m-10">
            <h2 class="relative about_category mx-auto p-2 my-4 w-min text-green-600 font-extrabold text-xl cursor-default">Frameworks</h2>
            <div class="flex flex-row flex-wrap justify-center text-center">
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Node</h3>
                    <img class="h-10 m-auto" src="/img/node.svg" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">React</h3>
                    <img class="h-10 m-auto" src="/img/react.svg" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Redux</h3>
                    <img class="h-10 m-auto" src="/img/redux.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Tailwind</h3>
                    <img class="h-10 m-auto" src="/img/tailwind.svg" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">TensorFlow</h3>
                    <img class="h-10 m-auto" src="/img/tensorflow.png" alt="">
                </div>
            </div>
        </div>
        <div class="m-5 md:m-10">
            <h2 class="relative about_category mx-auto p-2 my-4 w-min text-green-600 font-extrabold text-xl cursor-default">Librairies</h2>
            <div class="flex flex-row flex-wrap justify-center text-center">
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Socket.io</h3>
                    <img class="h-10 m-auto" src="/img/socket-io.svg" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">d3.js</h3>
                    <img class="h-10 m-auto" src="/img/d3.png" alt="">
                </div>
            </div>
        </div>
        <div class="m-5 md:m-10">
            <h2 class="relative about_category mx-auto p-2 my-4 w-min text-green-600 font-extrabold text-xl cursor-default">CMS</h2>
            <div class="flex flex-row flex-wrap justify-center text-center">
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Wordpress</h3>
                    <img class="h-10 m-auto" src="/img/wordpress.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Webflow</h3>
                    <img class="h-10 m-auto" src="/img/webflow.png" alt="">
                </div>
            </div>
        </div>
        <div class="m-5 md:m-10">
            <h2 class="relative about_category mx-auto p-2 my-4 w-min text-green-600 font-extrabold text-xl cursor-default">Outils</h2>
            <div class="flex flex-row flex-wrap justify-center text-center">
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Visual Studio Code</h3>
                    <img class="h-10 m-auto" src="/img/vscode.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Github</h3>
                    <img class="h-10 m-auto" src="/img/github.png" alt="">
                </div>
                <div class="w-40 m-4">
                    <h3 class="font-semibold text-gray-700 mb-4">Replit</h3>
                    <img class="h-10 m-auto" src="/img/replit.png" alt="">
                </div>
            </div>
        </div>
    </main>      
    <script src="js/index.js"></script>  
</body>
</html>