<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ('includes/head') -%>
    <title><Hugo /> - Erreur</title>
</head>
<body class="leading-normal flex flex-row overflow-x-hidden tracking-normal text-gray-900 bg-yellow-50 font-sans" style="font-family: 'Source Sans Pro', sans-serif;">
    <%- include ('includes/header') -%>
    <%- include ('includes/cursor') -%>
    <main class="h-screen flex flex-col justify-center w-full pb-14 bg-right z-20">        
        <div class="flex flex-col justify-center lg:items-start overflow-y-hidden md:px-10">
            <h1 class="mb-4 text-3xl md:text-5xl text-purple-800 font-bold leading-tight text-center md:text-left slide-in-bottom-h1">Bip Bop Bup...</h1>
            <p class="leading-normal text-base md:text-2xl text-center md:text-left slide-in-bottom-subtitle">Erreur 404, page introuvable.</p>
        </div>
    </main>
</body>
</html>