<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include ('includes/head') -%>
    <title><Hugo /></title>
</head>
<body class="leading-normal flex flex-row overflow-x-hidden tracking-normal text-gray-900 bg-yellow-50 font-sans" style="font-family: 'Source Sans Pro', sans-serif;">
    <%- include ('includes/header') -%>
    <%- include ('includes/cursor') -%>
    <main class="h-full w-full pb-14">
        <h1 class="m-4 text-red-500 z-5">La page d'accueil est en construction</h1>
    </main>      
    <script src="js/index.js"></script>  
</body>
</html>