/**
 * GontSerrat + JenrivTitling
 * Bold
 * Bold Italic
 * Regular
 * Regular Italic
 * Light
 * Light Italic
 */

/**
 * GontSerrat
 */

/* -- GontSerrat Bold -- */
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-Bold.woff') format('woff'),
            url('../public/fonts/Gontserrat-Bold.woff2') format('woff2'),;
    font-weight: 700;
}
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-BoldItalic.woff') format('woff'),
            url('../public/fonts/Gontserrat-BoldItalic.woff2') format('woff2'),;
    font-weight: 700;
    font-style: italic;
}

/* -- GontSerrat Regular -- */
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-Regular.woff') format('woff'),
            url('../public/fonts/Gontserrat-Regular.woff2') format('woff2'),;
    font-weight: 500;
}
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-RegularItalic.woff') format('woff'),
            url('../public/fonts/Gontserrat-RegularItalic.woff2') format('woff2'),;
    font-weight: 500;
    font-style: italic;
}

/* -- GontSerrat Light -- */
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-Light.woff') format('woff'),
            url('../public/fonts/Gontserrat-Light.woff2') format('woff2'),;
    font-weight: 300;
}
@font-face {
    font-family: 'GontSerrat';
    src:    url('../public/fonts/Gontserrat-LightItalic.woff') format('woff'),
            url('../public/fonts/Gontserrat-LightItalic.woff2') format('woff2'),;
    font-weight: 300;
    font-style: italic;
}


/**
 * JenrivTitling
 */

/* -- JenrivTitling Bold -- */
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-Bold.woff') format('woff'),
            url('../public/fonts/JenrivTitling-Bold.woff2') format('woff2'),;
    font-weight: 700;
}
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-BoldItalic.woff') format('woff'),
            url('../public/fonts/JenrivTitling-BoldItalic.woff2') format('woff2'),;
    font-weight: 700;
    font-style: italic;
}

/* -- JenrivTitling Regular -- */
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-Regular.woff') format('woff'),
            url('../public/fonts/JenrivTitling-Regular.woff2') format('woff2'),;
    font-weight: 500;
}
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-RegularItalic.woff') format('woff'),
            url('../public/fonts/JenrivTitling-RegularItalic.woff2') format('woff2'),;
    font-weight: 500;
    font-style: italic;
}

/* -- JenrivTitling Light -- */
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-Light.woff') format('woff'),
            url('../public/fonts/JenrivTitling-Light.woff2') format('woff2'),;
    font-weight: 300;
}
@font-face {
    font-family: 'JenrivTitling';
    src:    url('../public/fonts/JenrivTitling-LightItalic.woff') format('woff'),
            url('../public/fonts/JenrivTitling-LightItalic.woff2') format('woff2'),;
    font-weight: 300;
    font-style: italic;
}