@mixin flex($number) {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  &>* {
    width: 100%;
    padding: 2rem;
    margin: 1rem;
    border-radius: 8px;
    @include above(700px) {
      width: calc(50% - 6rem - 2px);
      min-width: 7.5rem !important;
    }
    @include above(1240px) {
      width: $number;
    }
  }
}

@mixin above($size) {
    @media screen and (min-width: $size) {
      @content
    }
  }