.layout {
  position: relative;
  height: calc(100vh - 2rem);
  width: calc(100vw - 2rem);
  background: url(../public/img/paper_text.webp) repeat 50% 50% #f5f5f5;
  overflow-x: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.layout::-webkit-scrollbar {
  width: .5rem;
}

.layout::-webkit-scrollbar-track {
  background: url(../public/img/paper_text.webp) repeat 50% 50% #f5f5f5;
}

.layout::-webkit-scrollbar-thumb {
  background: rgba(255, 82, 82, 0.9);
}

.layout::-webkit-scrollbar-thumb:hover {
  background: #ff5252;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100vh - 2rem - 2rem);
  background: url(../public/img/paper_text.webp) repeat 50% 50% #f5f5f5;
  width: 12rem;
  padding: 1rem;
  overflow: hidden;
  color: #111;
  z-index: 999;
}

.header.headerMobile {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1rem;
  left: 1rem;
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);
  z-index: 99;
}

.header.headerMobile div:first-child {
  margin-bottom: 0;
}

.header.headerMobile nav {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  margin: .5rem 0;
}

.header.headerMobile nav a {
  margin: .5rem auto;
}

@media screen and (max-width: 1000px) {
  .header {
    width: 0;
    display: none;
  }
}

.header div:first-child {
  margin-bottom: calc(1.5rem + .375rem);
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background: #ff5252;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .5rem 1rem;
  cursor: pointer;
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: .7rem;
  font-weight: 700;
  letter-spacing: .5px;
  text-transform: uppercase;
}

.header nav a {
  margin: .375rem 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.header nav a:hover {
  text-decoration: underline;
}

.header nav a.active {
  color: #b33939;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header ul a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #111;
  font-size: .9rem;
  margin-right: .5rem;
  width: 1rem;
  height: 1rem;
  line-height: 0;
}

.header ul a:hover {
  color: #ff5252;
}

.headerButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 1rem;
  left: 1rem;
  padding: .5rem;
  font-size: 1.5rem;
  line-height: 0;
  background: #ff5252;
  border: none;
  cursor: pointer;
  z-index: 99;
}

@media screen and (min-width: 1000px) {
  .headerButton {
    display: none;
  }
}

.row_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}

.row_container > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  margin: .5rem;
}

.row_container > h1, .row_container h2 {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2rem;
}

.row_container h2 {
  margin-top: 2rem;
}

.row_container h3 {
  margin-bottom: .75rem;
  font-weight: 500;
}

.row_container ul {
  font-size: .8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  width: 100%;
  max-width: 25%;
  min-width: 200px;
  text-align: center;
  padding: 1rem;
  margin: .5rem;
  line-height: 1rem;
}

.row_container ul li {
  margin-bottom: .2rem;
  font-weight: 300;
}

.row_container ul li:last-child {
  margin-bottom: 0;
}

.row_container ul li a:hover {
  border-bottom: 5px solid #ffb142;
}

.col_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.col_container > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col_container > * h2 {
  position: relative;
  color: #111;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}

.col_container > * h2::before {
  content: '';
  position: absolute;
  top: calc(100% + .5rem);
  left: 10%;
  width: 80%;
  height: 1px;
  background: #ffb142;
}

.hero {
  position: relative;
  height: calc(100vh - 4rem);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 4rem);
  z-index: 5;
}

@media screen and (max-width: 1000px) {
  .hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero strong {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  border: none;
  color: #111;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1000px) {
  .hero strong {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.5rem;
  }
}

.hero strong div {
  margin-left: 1rem;
}

.hero h1 {
  position: relative;
  padding-top: .5rem;
  z-index: 10;
}

.hero h1::before {
  content: '';
  position: absolute;
  top: -.5rem;
  left: 0;
  width: 80%;
  height: 5px;
  background: #111;
}

@media screen and (max-width: 1000px) {
  .hero h1::before {
    left: 10%;
  }
}

.about {
  width: calc(100% - 4rem);
  margin: auto;
  text-align: left;
  padding: 2rem;
  background: #fff;
}

@media screen and (max-width: 1000px) {
  .about {
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
  }
}

.about p {
  color: #4c4c4c;
  font-size: .7rem;
  width: 100%;
  max-width: 1100px;
  letter-spacing: 1px;
  margin-bottom: .25rem;
  line-height: .8rem;
}

.about p:last-child {
  margin-bottom: 0;
}

.about strong {
  color: #111;
  font-weight: 700;
}

.services {
  padding: 2rem;
}

.services svg {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.services .services_row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services .services_row img {
  min-width: 150px;
  width: 50%;
  margin-bottom: .5rem;
}

.services .services_row h3 {
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.services .services_row p {
  font-size: .75rem;
  line-height: .8rem;
  font-weight: 300;
  min-height: calc(.625rem * 2);
}

.services .services_row > div {
  padding: 2rem;
  margin: 1rem;
  width: 100%;
  min-width: 20%;
  max-width: 150px;
  background: #fff;
  color: #4c4c4c;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.services .services_row > div:hover {
  color: #111;
}

.contact {
  width: calc(100% - 4rem);
  margin: auto;
  text-align: left;
  padding: 2rem;
  background: #fff;
}

.portfolio {
  padding: 2rem;
}

.footer {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .6rem;
  padding: 1rem .5rem;
}

@media screen and (max-width: 1000px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer p:first-child {
    margin-bottom: .5rem;
  }
}

.projet {
  width: 100%;
  max-width: 30%;
  min-width: 200px;
  -webkit-transition: 200ms;
  transition: 200ms;
  padding: 1rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  border-radius: 8px;
  background: #fff;
}

.projet:hover {
  color: #ff5252;
}

.projet:hover img {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.projet:hover figcaption {
  right: .5rem;
  opacity: 1;
}

.projet figure {
  width: 100%;
  border-radius: 8px;
}

.projet img {
  width: 100%;
  border-radius: 8px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.projet figure {
  position: relative;
}

.projet figcaption {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  color: #ff5252;
  text-align: right;
  font-size: .5rem;
  font-weight: bold;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.projet h1 {
  font-size: .75rem;
  font-weight: bold;
  margin: .75rem 0 .5rem;
}

.projet p {
  font-size: .7rem;
  font-weight: 300;
  color: #4c4c4c;
}

.scroll {
  position: absolute;
  bottom: -.5rem;
  width: 50px;
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .scroll {
    width: 30px;
    height: 60px !important;
    left: calc(50% - 15px);
  }
}

.scroll svg {
  height: 100%;
  width: 100%;
  aspect-ratio: 75/150;
}

.scroll .scrollAnim {
  position: absolute;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: identifier 2s infinite;
          animation: identifier 2s infinite;
  z-index: 5;
}

@-webkit-keyframes identifier {
  from, to, 10%, 90% {
    opacity: 0;
  }
  10% {
    top: 25%;
  }
  50% {
    opacity: 1;
  }
  90% {
    top: 75%;
  }
}

@keyframes identifier {
  from, to, 10%, 90% {
    opacity: 0;
  }
  10% {
    top: 25%;
  }
  50% {
    opacity: 1;
  }
  90% {
    top: 75%;
  }
}

.sectionHeader, .sectionContainer {
  width: calc(100% - 1rem);
  margin: 0;
}

@media screen and (max-width: 1000px) {
  .sectionHeader, .sectionContainer {
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .sectionHeader .back, .sectionContainer .back {
    display: none;
  }
}

.sectionHeader {
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #4c4c4c;
}

.sectionHeader h1, .sectionHeader a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media screen and (max-width: 1000px) {
  .sectionHeader h1, .sectionHeader a {
    margin: auto;
  }
}

.sectionHeader h1 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sectionHeader a {
  font-size: .8rem;
  font-weight: bold;
}

.sectionHeader a svg {
  margin-right: .5rem;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.sectionHeader a:hover > * {
  color: #ffb142;
}

.sectionContainer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1000px) {
  .sectionContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sectionContainer .imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sectionContainer .img {
  width: 100%;
  margin-bottom: 1rem;
}

.sectionContainer .img img {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #111;
}

.sectionContainer .text {
  width: 100%;
  max-width: 40%;
  margin-left: 1rem;
}

@media screen and (max-width: 1000px) {
  .sectionContainer .text {
    max-width: none;
    margin: auto;
  }
}

.sectionContainer .text h2 {
  font-size: .825rem;
  font-weight: bold;
  margin-bottom: .5rem;
}

.sectionContainer .text h3 {
  font-size: .75rem;
  font-weight: bold;
  color: #4c4c4c;
  margin-bottom: .5rem;
}

.sectionContainer .text > p {
  font-size: .7rem;
  color: #4c4c4c;
  margin-bottom: .5rem;
  line-height: 1rem;
}

.sectionContainer .infos {
  background: #fff;
  padding: .5rem 1rem;
  color: #4c4c4c;
  font-size: .625rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

@media screen and (max-width: 1000px) {
  .sectionContainer .infos {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 1rem auto;
    text-align: left;
  }
}

.sectionContainer .infos span {
  display: inline-block;
  font-weight: bold;
  width: 5rem;
  color: #111;
}

.sectionContainer .infos a {
  display: inline-block;
  margin-top: .5rem;
}

.sectionContainer .button {
  background: #ff5252;
  padding: .5rem .5rem .25rem;
  font-size: .8rem;
  margin: 1rem;
}

.flex_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.flex_2 > * {
  -ms-flex-preferred-size: calc(50% - .5rem);
      flex-basis: calc(50% - .5rem);
}

@media screen and (max-width: 1000px) {
  .flex_2 > * {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-right: 0 !important;
  }
}

.flex_2 > *:nth-child(2n+1) {
  margin-right: 1rem;
}

.extern_link {
  color: #111;
  position: relative;
  z-index: 10;
  padding: 0 .25rem;
}

.extern_link:hover::before {
  height: 100%;
}

.extern_link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: #ffb142;
  z-index: -5;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}
/*# sourceMappingURL=components.module.css.map */