html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * GontSerrat
 * Bold
 * Regular
 * Light
 */
/* -- GontSerrat Bold -- */
@font-face {
  font-family: 'GontSerrat';
  src: url("../public/fonts/Gontserrat-Bold.woff") format("woff"), url("../public/fonts/Gontserrat-Bold.woff2") format("woff2");
  font-weight: 700;
}

/* -- GontSerrat Regular -- */
@font-face {
  font-family: 'GontSerrat';
  src: url("../public/fonts/Gontserrat-Regular.woff") format("woff"), url("../public/fonts/Gontserrat-Regular.woff2") format("woff2");
  font-weight: 500;
}

/* -- GontSerrat Light -- */
@font-face {
  font-family: 'GontSerrat';
  src: url("../public/fonts/Gontserrat-Light.woff") format("woff"), url("../public/fonts/Gontserrat-Light.woff2") format("woff2");
  font-weight: 300;
}

.cta {
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  padding: .5rem 1rem;
  font-size: .7rem;
  line-height: .7rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #fff;
  font-weight: 300;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
}

.cta + .iconcta {
  margin-left: .5rem;
}

.iconcta {
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  padding: .5rem;
  font-size: .7rem;
  line-height: .7rem;
  aspect-ratio: 1/1;
  min-width: 10px;
  min-height: 10px;
  color: #fff;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 5;
  border-radius: 50%;
}

.iconcta + .iconcta {
  margin-left: .5rem;
}

.flex4 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex4 > * {
  width: 100%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
}

@media screen and (min-width: 700px) {
  .flex4 > * {
    width: calc(50% - 6rem - 2px);
  }
}

@media screen and (min-width: 1240px) {
  .flex4 > * {
    width: calc(25% - 6rem - 2px);
  }
}

.flex4 div {
  border: 1px solid rgba(56, 56, 56, 0.25);
  background: #fff;
}

.flex3 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex3 > * {
  width: 100%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
}

@media screen and (min-width: 700px) {
  .flex3 > * {
    width: calc(50% - 6rem - 2px);
  }
}

@media screen and (min-width: 1240px) {
  .flex3 > * {
    width: calc(30% - 6rem - 2px);
  }
}

.flex3 div, .flex3 article {
  border: 1px solid rgba(56, 56, 56, 0.25);
  background: #fff;
}

.flex3 div:hover, .flex3 article:hover {
  color: #000;
  -webkit-box-shadow: 0 0 5px rgba(56, 56, 56, 0.25);
          box-shadow: 0 0 5px rgba(56, 56, 56, 0.25);
}

.flex2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.flex2 > * {
  width: 100%;
  padding: 2rem;
  margin: 1rem;
  border-radius: 8px;
}

@media screen and (min-width: 700px) {
  .flex2 > * {
    width: calc(50% - 6rem - 2px);
  }
}

@media screen and (min-width: 1240px) {
  .flex2 > * {
    width: calc(50% - 6rem - 2px);
  }
}

.flex2 div {
  border: 1px solid rgba(56, 56, 56, 0.25);
  background: #fff;
}

.extern_link {
  color: #111;
  position: relative;
  z-index: 10;
  padding: 0 .25rem;
  text-decoration: underline;
}

.extern_link:hover {
  color: #6D83F2;
}

html {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 22px;
  }
}

::-moz-selection {
  background: #ffb142;
}

::selection {
  background: #ffb142;
}

body {
  padding: 1rem;
  margin: 0;
  font-family: "GontSerrat";
  background: linear-gradient(134deg, #6A98F0 0%, #4961DC 99%);
  color: #383838;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=globals.css.map */