@import 'theme';
@mixin below($size) {
  @media screen and (max-width: $size) {
    @content
  }
}

.headline {
    margin: 1rem;
    h1 {
        background: $gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin: 0 auto .5rem;
        font-size: 1.5rem;
        font-weight: 700;
        width: min-content;
        white-space: nowrap;
        ::selection {
            background: rgba($contrast, .5);
        }
        @include above(1000px) {
            margin: 0 0 .5rem;
        }
    }
    p {
        margin-bottom: .25rem;
        font-size: .9rem;
        text-align: center;
        @include above(1000px) {
            text-align: left;
        }
    }
    a:hover {
        color: $blue;
    }
}

.flex3 {
    @include flex(calc(33% - 4rem - 2px));
    article {
        padding: 1rem;
    }
    figure {
        aspect-ratio: 1;
    }
}