@import 'theme';

@mixin below($size) {
  @media screen and (max-width: $size) {
    @content
  }
}
.sectionHeader, .sectionContainer {
  margin: auto;
  width: calc(100% - 2rem);
  margin: 0 1rem;
}

.sectionHeader {
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba($black, .25);
  h1, a {
    display: flex;
    align-items: center;
    width: max-content;
  }
  h1 {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  a {
    font-size: .8rem;
    font-weight: bold;
    svg {
      margin-right: .5rem;
      transition: 200ms;
    }
    &:hover > * {
      color: $contrast;
    }
  }
}
.headline {
  margin: 1rem;
  h1 {
      background: $gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin: 0 auto .5rem;
      font-size: 1.5rem;
      font-weight: 700;
      width: min-content;
      white-space: nowrap;
      ::selection {
          background: rgba($contrast, .5);
      }
      @include above(1000px) {
          margin: 0 0 .5rem;
      }
  }
  p {
      margin-bottom: .25rem;
      font-size: .9rem;
      text-align: center;
      @include above(1000px) {
          text-align: left;
      }
  }
  a:hover {
      color: $blue;
  }
}
.sectionContainer {
  position: relative;
  display: flex;
  min-height: calc(100vh - 2rem - 2.25rem - 8.75rem);
  flex-direction: column;
  @include above(1000px) {
    flex-direction: row-reverse;
  }
  .imgs {
    display: flex;
    flex-direction: column;
    flex: 1;
    .img {
      width: 100%;    
      margin-top: 1rem;
      img {
        width: 100%;
        border-radius: 2px;
        border: 1px solid rgba($black, .25) !important;
        border-radius: 8px;
      }
    }
  }
  .text {
    width: 100%;
    height: max-content;
    @include above(1000px) {
      position: sticky;
      top: 1rem;
      left: 0;
      max-width: calc(40% - 2rem);
      margin: 1rem;
    }
    h2 {
      font-size: .825rem;
      font-weight: bold;
      margin-bottom: .5rem;
    }
    h3 {
      font-size: .75rem;
      font-weight: bold;
      color: #4c4c4c;
      margin-bottom: .5rem;
    }
    &>p {
      font-size: .7rem;
      color: #4c4c4c;
      margin-bottom: .5rem;
      line-height: 1rem;
    }
  }
  .infos {
    background: #fff;
    border: 1px solid rgba($black, .25);
    border-radius: 8px;
    padding: .5rem 1rem;
    color: #4c4c4c;
    font-size: .625rem;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-align: left;
    width: calc(100% - 2rem - 2px);
    @include above(1000px) {
      margin: 1rem auto;
      text-align: left;
    }
    span {
      display: inline-block;
      font-weight: bold;
      width: 5rem;
      color: #111;
      @include above(800px) {
        width: 4.5rem;
      }
      @include above(1200px) {
        width: 5rem;
      }
    }
    a {
      display: inline-block;
      margin-top: .5rem;
    }
  }
  .button {
    background: $primary;
    padding: .5rem .5rem .25rem;
    font-size: .8rem;
    margin: 1rem;
  }
}